body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  grid-template-rows: auto 1fr auto;
  background-color: #253f83;
  color: #c3e4f3;
}

.header {
  text-align: center;
  text-decoration: none;
  color: #d1defa;
}

h1.header {
  font-size: xxx-large;
  margin-bottom: 0;
}

p.header {
  font-weight: bold;
  margin-top: 0;
  font-size: larger;
}

div.content {
  display: grid;
  grid-template-columns: minmax(220px, 20%) 1fr;
  gap: 10px;
  padding: 10px;
}

.sidebar {
  background-color: #00d491;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}

a.nav {
  display: block;
  font-size: x-large;
  color: #0a1f16;
  text-decoration: none;
  padding: 0.3em 1em 0.3em 1em;
  border-bottom: 3px solid #0a1f16;
}

a.active {
  background-color: #0a1f16;
  font-weight: bold;
  color: #c3e4f3;
}

#home_nav_link:hover,
#home_nav_link:active {
  background-color: #d40043;
}
#customize_nav_link:hover,
#customize_nav_link:active {
  background-color: #56b7ff;
}
#randomize_nav_link:hover,
#randomize_nav_link:active {
  background-color: #9100d4;
}
#idea_nav_link:hover,
#idea_nav_link:active {
  background-color: #b3496a;
}
#about_nav_link:hover,
#about_nav_link:active {
  background-color: #d49100;
}
#products_nav_link:hover,
#products_nav_link:active {
  background-color: #ff56b7;
}
#contact_nav_link:hover,
#contact_nav_link:active {
  background-color: #0043d4;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}

.footer {
  background-color: #9100d4;
  padding: 0;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  color: #c3e4f3;
}

.footer-links {
  color: #c3e4f3;
  margin: 20px;
}

.footer-text-link {
  color: #c3e4f3;
  text-decoration: none;
}
