body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  grid-template-rows: auto 1fr auto;
  background-color: #253f83;
  color: #c3e4f3;
}

.header {
  text-align: center;
  text-decoration: none;
  color: #d1defa;
}

h1.header {
  font-size: xxx-large;
  margin-bottom: 0;
}

p.header {
  font-weight: bold;
  margin-top: 0;
  font-size: larger;
}

div.content {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.sidebar {
  background-color: #0a1f16;
  margin: 10px;
  padding: 0;
}

a.nav {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: xx-large;
  color: #d1defa;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#home_nav_link:hover {
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}
