/*html {
  margin: 0;
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #17284e;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

*/

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  grid-template-rows: auto 1fr auto;
  background-color: #17284e;
  color: #d6d3eb;
}

.header {
  text-align: center;
  text-decoration: none;
  color: #d6d3eb;
}

h1.header {
  font-size: xxx-large;
  margin-bottom: 0;
}

p.header {
  font-weight: bold;
  margin-top: 0;
  font-size: larger;
}
div.content {
  display: grid;
  grid-template-columns: 20% 1fr;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}
