<!-- back/templates/partials/nav.html -->
<nav class="sidebar">
	<a class="nav" id="home_nav_link" href="/index.html">Home</a>
	<a class="nav" id="customize_nav_link" href="/index.html">Customize</a>
	<a class="nav" id="randomize_nav_link" href="/index.html">Randomize</a>
	<a class="nav" id="idea_nav_link" href="/index.html">Get Ideas</a>
	<a class="nav" id="about_nav_link" href="/index.html">About</a>
	<a class="nav" id="products_nav_link" href="/index.html">Services</a>
	<a class="nav" id="contact_nav_link" href="/index.html">Contact Us</a>
</nav>