<!-- src/template.html -->
{% extends "layout.html" %}

{% block content %}
<article>
	<h1>Basic Book Info</h1>
	<p>We should give a few ideas about some book types. Reference research and offer a few ideas on unique ways to write.</p>
</article>
<form>
	<label for="genre">Genre:</label>
    <select id="genre-select" name="genre">
        <option value="">--Choose One or Randomize--</option>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="apocalyptic">Apocalyptic</option>
        <option value="comedy">Comedy</option>
        <option value="crime">Crime</option>
        <option value="fantasy">Fantasy</option>
        <option value="historical">Historical</option>
        <option value="horror">Horror</option>
        <option value="literary">Literary</option>
        <option value="mystery">Mystery</option>
        <option value="political">Political</option>
        <option value="post-apocalyptic">Post Apocalyptic</option>
        <option value="romance">Romance</option>
        <option value="sci-fi">Sci-Fi</option>
        <option value="spy">Spy</option>
        <option value="thriller">Thriller</option>
        <option value="war">War</option>
        <option value="western">Western</option>
 </select>
<label for="target-age">What age group is your target?:</label>
    <select id="target-age-select" name="target-age">
        <option value="">--Choose One or Randomize--</option>
        <option value="infants">Infants&emsp;&emsp;&emsp;&emsp;0-3</option>
        <option value="junior">Junior&emsp;&emsp;&emsp;&emsp;4-8</option>
        <option value="juvenille">Juvenille&emsp;&emsp;&emsp;9-13</option>
        <option value="ya">Young Adult&emsp;14-18</option>
        <option value="adult">Adult&emsp;&emsp;&emsp;&emsp;&emsp;19+</option>
 </select>
 <label for="book_length">Book Length (in Pages):</label>
<input type="range" min="1" max="1000" value="250" class="slider" id="book_length">
 Tone/Vibe
	Happy
	Sad
	Serious
	Funny
	Detailed
</form>

{% endblock %}
