<!-- back/templates/layout.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!--<base href="/">-->
    <meta charset="utf-8">

    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="styles/main.css">
    <!--<script src="scripts/main.js" defer></script>-->
    {% if custom_style %}
    {% for css_file in custom_style %}
    <link rel="stylesheet" href="{{ css_file }}">
    {% endfor %}
    {% endif %}

    <meta name="author" content="{{ author }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">

    <!-- Make it look good in browsers that adapt -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000020">

    <!-- For social media links. We can add photos and a url later -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    <!-- TODO:
            Add proper meta elements
            Learn more about what the head should contain

            Add CSS design
            add JS scripting
            Create a 32x32 pixel photo for the website icon
            -->

    <title>BIG: {{ title }}</title>
</head>

<body class="page">
    {% include 'partials/header.html' %}
    <div class="content">
        {% include 'partials/nav.html' %}
        <main class="main" id="nav_content_hold">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% include 'partials/footer.html' %}

    {% if custom_script %}
    {% for js_file in custom_script %}
    <script src="{{ js_file }}"></script>
    {% endfor %}
    {% endif %}
</body>
</body>

</html>