<!-- src/index.html -->
{% extends "layout.html" %}

{% block content %}
<article class="intro">
  <h1>Book Idea Generator</h1>
  <p>This program is designed to make it where book ideas are created, by chance and choice.
    This program will not write a book for you, but will give you a basis, so even <i>you</i> can become an
    author.
    Your mind will be heavy with ideas once you are done looking through this program,
    so read on and maybe you will become the author of a famous book.</p>
</article>

<section class="generator-choice">
  <div class="customize-panel">
    <h2 class="customize-panel">Customize</h2>
    <form>
      <label for="genre">Genre:</label>

      <select id="genre" name="genre">
        <option value="">-- Choose one --</option>
        <option value="action">Action</option>
        <option value="thriller">Thriller</option>
        <option value="sci-fi">Science Fiction</option>
      </select>
      <button type="submit">Let's Go!</button>
    </form>
  </div>
  <div class="choice-divider">
    <div class="divider-line"></div>
    <span>OR</span>
    <div class="divider-line"></div>
  </div>
  <div class="randomize-panel">
    <h2 class="randomize-panel">Randomize</h2>
  </div>
</section>
{% endblock %}