<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/index.css">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="script" href="scripts/index.js">

        <meta name="author" content="Isaiah Palmer">
        <meta name="charset" content="utf-8">
        <meta name="keywords" content="books,ideas,literature">
        <!-- TODO:
            Add proper meta elements
            Learn more about what the head should contain

            Add CSS design
            add JS scripting
            Create a 32x32 pixel photo for the website icon
            -->

        <title>BIG: {{ title }}</title>
    </head>
    <body>
        {{ header }}
        <nav>
            {{ nav }}
        </nav>
        <div class="main" id="nav_content_hold">
            <main>
                {{ content }}
            </main>
        </div>
        {{ footer }}
    </body>
</html>